@using VendorOrderTracker.Models;

@{ Layout = "_Layout"; }

@if (Model.GetOrders().Count == 0) {
  <h2>No orders have been placed yet with @Model.Name</h2>
  <a href='/vendors/@Model.Id/orders/new'></a>
} else {
  <h1>@Model.Name</h1>
@foreach (Order order in Model.GetOrders())
{
<div class="vendor-order-container">
  <h2>@order.Title</h2>
  <h2>@order.Date</h2>
  <h2><span>$</span>@order.Price</h2>
  <a href='/vendors/@Model.Id/orders/@order.Id'>See Details</a>
  <a href='/vendors/@Model.Id/orders/@order.Id/delete'>Delete Order</a>
</div>
}
}

<div class="links">
  <a href='/vendors/@Model.Id/orders/new'>Add Order</a>
  <a href='/vendors'>View Vendors</a>
  <a href='/orders'>View Orders</a>
  <a href='/'>Home</a>
</div>