@using VendorOrderTracker.Models; 

@{ Layout = "_Layout"; }

<div class="jumbotron">
  <h1>@Model.Name</h1>
</div>

<h1>Place order</h1>
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <div class="form-group">
    <label for="title">Title: </label>
    <input id="title" name="title" type="text">
  </div>
  <div class="form-group">
    <label for="description">Description: </label>
    <input id="description" name="description" type="text">
  </div>
@foreach (BakedGood bakedGood in Model.BakedGoods)
{
  int i = 0;
  string bakedGoodString = "bakedGood" + i;
  <div class="form-group">
    <label for="@bakedGood.GetType().Name"># of @bakedGood.GetType().Name<span>s</span>: </label>
    <input id="@bakedGood.GetType().Name" name="@bakedGood.GetType().Name" type="text">
  </div>
}
<button type="submit">Add Order</button>
</form>

<div class="links">
  <a href="/vendors">View Vendors</a>
  <a href="/">Home</a>
</div>