@using VendorOrderTracker.Models; 
@model VendorOrderTracker.Models.Order;

@{ Layout = "_Layout"; 
int bakedGoodCount = 0;
}

<div class="jumbotron">
  
  <h1>@ViewBag.Vendor.Name</h1>
  @* <h1>@Model.BakedGoods.Count</h1> *@
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.VendorId, new{ Value = @ViewBag.Vendor.VendorId});
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @foreach (BakedGood bakedGood in @ViewBag.Vendor)
    {
        
    }
    <br>
    @* @Html.LabelFor(model => model.Vendor)
    @Html.DropDownList("VendorId") *@

    <br>
    <input type="submit" value="Add new order" class="btn btn-default" />
}
@* 
<h1>Place order</h1>
<form action="/vendors/@Model.OrderIdId/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.VendorId">
  <div class="form-group">
    <label for="title">Title: </label>
    <br>
    <input id="title" name="title" type="text">
  </div>
  <div class="form-group">
    <label for="description">Description of order:</label>
    <br>
    <textarea rows="4" cols="50" name="description">
    </textarea>
  </div>
@foreach (BakedGood bakedGood in @Model.BakedGoods) {
<div class="form-group order-items">
    <label for="bakedGood(@bakedGoodCount)"># of @bakedGood.Name<span>s</span> at <span>$</span>@bakedGood.Price:</label>
   <select id="bakedGood(@bakedGoodCount)" name="bakedGood@(bakedGoodCount)">
  <option value="5" name="bakedGood@(bakedGoodCount)">5</option>
  <option value="10" name="bakedGood@(bakedGoodCount)">10</option>
  <option value="15" name="bakedGood@(bakedGoodCount)">15</option>
  <option value="20" name="bakedGood@(bakedGoodCount)">20</option>
</select>
</div>
bakedGoodCount++;
}
<button type="submit">Add Order</button>
</form>

<div class="links">
  <a href="/vendors">View Vendors</a>
  <a href="/">Home</a>
</div> *@
@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script>

  $(document).ready(function() {
     $("#baked-goods-count").on("click", function() {
    let count = $("#number-input").val();
    let form = $("#goods");
    let bakedGoods = ``;
    let i = 0;
    for(i; i < count; i++) {
      bakedGoods += `<div class="baked-good-item">Item ${i}:<input id=${"bakedGoods" + i} type="text" name="bakedGood" id="number-input"></input> </div><br>`;
    }
    return form.html(bakedGoods);
  });
});
</script> *@