@using VendorOrderTracker.Models; @{ Layout = "_Layout"; }

<div id="order-details">
  <h2>@Model["vendor"].Name</h2>
  <h2>Order details:</h2>
  <h3>Title: @Model["order"].Title</h3>
  <h3>Date: @Model["order"].Date</h3>
  <h3>Description: @Model["order"].Title</h3>
  <h3>Price: @Model["order"].Price</h3>
</div>

<div class="links">
  <a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add Order</a>
  <a href="/vendors">View Vendors</a>
</div>
